* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    flex: 0, 0, auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightcyan;
}

body * {
    width: 300px;
}

#display {
    display:flex;
    border: 2px solid black;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height:60px;
    background-color: lightgreen;
    color:black;
}

.button-container {
    display:flex;
    gap:30px;
    justify-content: center;
    border: 2px solid darkblue;
    flex-wrap: wrap;
    padding:5px;
    background-color: darkolivegreen;
}

.calc-button {
    width:70px;
    height:70px;
    font-size: 30px;
    background-color: black;
    color:white;
}

#clear-display {
    width: 300px;
    height:75px;
    font-size: 30px;
    color: black;
    background-color: greenyellow;
}