* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    flex: 0, 0, auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#display {
    display:flex;
    border: 2px solid red;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 300px;
    height:60px;
}

.button-container {
    display:flex;
    gap:30px;
    justify-content: center;
    border: 2px solid darkblue;
    flex-wrap: wrap;
    width: 300px;
    padding:5px;
}

.calc-button {
    width:70px;
    height:70px;
    font-size: 30px;
}